<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juan.acrossquindio" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.AppCompat" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".AccommodationActivity"
            android:label="@string/title_activity_accommodation" >
        </activity>
        <activity
            android:name=".BarsActivity"
            android:label="@string/title_activity_bars" >
        </activity>
        <activity
            android:name=".AboutQuindioActivity"
            android:label="@string/title_activity_about_quindio" >
        </activity>
        <activity
            android:name=".AboutusActivity"
            android:label="@string/title_activity_aboutus" >
        </activity>
        <activity
            android:name=".TourismActivity"
            android:label="@string/title_activity_tourism" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
